<div class="site-section" id="about-this-camp-section">
    <div class="container">
      <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
        <div class="col-7 text-center mb-5">
          <h2 class="section-title">營隊簡介</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
            voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias
            blanditiis consequuntur
            sunt nisi.</p>
        </div>
      </div>

      <div class="row mb-5 site-section">
        <div class="col-lg-7" data-aos="fade-right">
          <img src="/assets/images/undraw_gift_card_6ekc.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
          <h2 class="text-black">面對八卦的標準網民：</h2>
          <p class="mb-4">
          <p>（X）謹慎求證思考，提出自己的主張
          <p>（O）拔草測風向，盡情開嘴</p>
          <p></p>
          <p>銳利的文字曾刺傷許多迷失的自我，盲目的輿論曾撲熄許多炙熱的決心。</p>
          <p>於此同時，</p>
          <p>網路溫暖地承載著人們的日常、記憶和情誼，在交織的人際網上，</p>
          <p>一個個未熟的夢想蛻變成真、</p>
          <p>一段段稚嫩的情感淬煉堅實。</p>
          <p></p>
          <p>社群網路SSWIM歡迎你的加入。</p>
          <p>由我們替你保存每一分成長、每一刻快樂。</p>
          <br></p>
          
          <div class="author-box" data-aos="fade-left">
            <div class="d-flex mb-4">
              <div class="mr-3">
                <img src="https://en.gravatar.com/userimage/159719441/c20faeb373303b65547c1146e72c760d.png" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div class="mr-auto text-black">
                <strong class="font-weight-bold mb-0">Brian L. Chen</strong> <br>
                Developer. Owner of icheft.
              </div>
            </div>
            <blockquote>&ldquo;是否，你也覺得這文案非常熟悉？沒錯，因為它正是去年的文案。你還不趕快想文案在這裡發呆啊 😡&rdquo;</blockquote>
          </div>
        </div>
      </div>
      
      
    </div>
</div>