<div class="site-section" id="download-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade-right">
          <img src="/assets/images/landing_1.png" alt="Image" class="img-fluid">
        </div>
        
        <div class="col-lg-6 ml-auto pl-lg-5">
          <span class="sub-title">別忘了將這些重要文件下載下來！</span>
          <h2 class="font-weight-bold text-black mb-5">下載區</h2>
          <div class="accordion" id="accordionExample">
            

            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                尚未開放！</a>
              </h2>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>就說了尚未開放！</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>