<div class="site-blocks-cover" style="overflow: hidden;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div data-aos-delay="200" data-aos="fade-up">

                <img class="img-fluid" src="/assets/images/climas_new_header.jpeg" style="display: block; height: auto; width: 80%; margin-left: auto; margin-right: auto">

                <div class="row align-items-center justify-content-center" data-aos-delay="200" data-aos="fade-up">
                    <a href="#contact-section">
                        <button class="btn btn-outline-primary" style="margin: 10px" type="button">點我直接報名</button>
                    </a>
                </div>

            </div>
            <!-- <video autoplay id="videoBG" loop muted>
                <source src="assets/images/header.mov" type="video/mp4"/>
            </video> -->
        </div>
    </div>
</div> 