<div class="site-blocks-cover" style="overflow: hidden;">
    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
          
          <img src="/assets/images/undraw_investing_7u74.svg" alt="Image" class="img-fluid img-absolute">

          <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-6 mr-auto">
              <h1>CLIMAS<span class="text-primary">.</span></h1>
              <p class="mb-5">
                歡迎加入資管 x 中文 x 大氣聯合宿營！
                <br>
                <blockquote>
                <span style="font-weight: bolder">
                  <span class="text-warning">Note for developers</span> and 
                  <span class="text-danger">those who think this site is too lame:</span>
                </span>
                
                Since this site is still in development, please do not hesitate to send your ideas and feedbacks to us. 
                Such can be done by simply <a href="https://github.com/icheft/2020climas/issues" target="_blank">submitting an issue on GitHub</a>. 
                Likewise, you can always <a href="https://github.com/icheft/2020climas/pulls">create a pull request on GitHub</a> as well. Read the
                <a href="https://github.com/icheft/2020climas/blob/master/README.md"><code>README.md</code></a> before you continue.
              
                <br>
                <br>
                The source code of this site is held on <a href="https://github.com/icheft/2020climas/" target="_blank">GitHub</a>.
                </blockquote>
              </p>
              <div>
                
                <a href="#contact-section" class="btn btn-primary mr-2 mb-2">點我直接報名</a>
              </div>
            </div>
            
            
          </div>

        </div>
      </div>
    </div>
</div>  