<div class="site-blocks-cover" style="overflow: hidden;">
    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
          
          <img src="/assets/images/climas_new_header.jpeg" alt="Image" class="img-fluid">
          
          <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 text-center">
              <div class="mr-auto">
              </div>

            </div>
            
            
          </div>

        </div>
      </div>
    </div>
</div>  