<div class="col-12 col-md-9 col-xl-8 main-menu">
    <nav class="site-navigation position-relative text-right" role="navigation">

      <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
        <li><a href="#home-section" class="nav-link">入口</a></li>
        <li><a href="#about-this-camp-section" class="nav-link">營隊簡介</a></li>
        <li><a href="#schedule-section" class="nav-link">活動流程</a></li>
        <li><a href="#download-section" class="nav-link">下載區</a></li>
        <li><a href="#contact-section" class="nav-link">報名參加</a></li>
        <li><a href="#about-section" class="nav-link">常見問題</a></li>
      </ul>
    </nav>
</div>